.loader {
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #d1d5db;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #9ca3af;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 3px;
}

.loaderSm {
  width: 16px;
  height: 16px;
}

.loaderSm::before,
.loaderSm::after {
  border-width: 2px;
}

.loaderSm::after {
  inset: 2px;
}

.loaderMd {
  width: 20px;
  height: 20px;
}

.loaderMd::before,
.loaderMd::after {
  border-width: 3px;
}

.loaderMd::after {
  inset: 3px;
}

.loaderLg {
  width: 32px;
  height: 32px;
}

.loaderLg::before,
.loaderLg::after {
  border-width: 4px;
}

.loaderLg::after {
  inset: 4px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
